form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input,
button {
    border-radius: 5px;
}

.label {
    margin: 5px;
    width: 200px;
    font-size: 1.3rem;
    position: absolute;
    top: 16px;
    color: black;
}

.dlabel {
    color: yellow;
}

.input {
    margin-top: 20px;
    width: 80%;
    background-color: white;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

select {
    text-align: center;
}

.dinput {
    background-color: #778bff;
}

input:valid+.label,
input:focus+.label {
    transform: translateY(-29px);
    outline: 0;
}

.delete {
    color: white;
    background-color: red;
}
